/.vscode/settings.json
/.obsidian/workspace.json
/.obsidian/data.json
.obsidian/workspace.json
.obsidian/plugins/initiative-tracker/data.json
.obsidian/themes
.obsidian/appearance.json
.obsidian/workspace.json
*.json
